no_clients=5
client1.work=gov.nih.nci.protegex.test.CreateSubsUnderRoot
client1.input=test1.in
client1.no_exe=25
client1.conn=127.0.0.1,Bob Dionne,bob,SmallBase3byName
client2.work=gov.nih.nci.protegex.test.CreateSubsUnderRoot
client2.input=test2.in
client2.no_exe=25
client2.conn=127.0.0.1,Bob Dionne,bob,SmallBase3byName
client3.work=gov.nih.nci.protegex.test.CreateSubsUnderRoot
client3.input=test3.in
client3.no_exe=25
client3.conn=127.0.0.1,Bob Dionne,bob,SmallBase3byName
client4.work=gov.nih.nci.protegex.test.CreateSubsUnderRoot
client4.input=test4.in
client4.no_exe=25
client4.conn=127.0.0.1,Bob Dionne,bob,SmallBase3byName
client5.work=gov.nih.nci.protegex.test.CreateSubsUnderRoot
client5.input=test5.in
client5.no_exe=25
client5.conn=127.0.0.1,Bob Dionne,bob,SmallBase3byName